NEXT_PUBLIC_VERSION=0.12.6
NEXT_PUBLIC_SCHOOL_TZ=Asia/Bangkok
NEXT_PUBLIC_GOOGLE_CLIENT_ID=
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
NEXT_PUBLIC_HELP_FORM_URL=
NEXT_PUBLIC_ATTENDANCE_SPECIAL_DATE=
NEXT_PUBLIC_CERTIFICATES_CEREMONY_SHOW_SEATING=false
NEXT_PUBLIC_CERTIFICATES_CEREMONY_SHOW_SEATING_ALWAYS=false
ELECTIVES_SEMESTER=
ELECTIVES_YEAR=
SUPABASE_SERVICE_ROLE=
MYSK_API_KEY=
CLOSED_FOR_MAINTENANCE=false
TZ=Etc/UTC
