@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply outline-none transition-colors;
  }

  html {
    @apply [accent-color:var(--primary)];
  }
}

@layer components {
  .link,
  .markdown a {
    @apply font-display font-medium text-primary underline decoration-primary decoration-2
      underline-offset-4 transition-[text-decoration-color]
      hover:decoration-tertiary hover:transition-none
      focus-visible:decoration-tertiary focus-visible:transition-none;
  }

  .markdown {
    @apply prose font-sans text-on-background prose-headings:font-display
      dark:prose-invert;
  }
}
