@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
  .skc-root-layout
    > *:not(.skc-content-layout, .skc-split-layout, .skc-page-header) {
    display: none;
  }
}

@layer base {
  * {
    @apply outline-offset-4;
  }

  html {
    @apply accent-primary;
  }

  body {
    @apply bg-background font-body text-on-background;
  }

  .light {
    @apply [color-scheme:light];
  }

  .dark {
    @apply [color-scheme:dark];
  }

  @media (prefers-color-scheme: dark) {
    html {
      @apply [color-scheme:dark];
    }
  }

  .skc-icon {
    @apply !font-icon;
  }
}

@layer utilities {
  .tap-highlight-none {
    @apply [-webkit-tap-highlight-color:transparent];
  }

  .fixed-center {
    @apply fixed left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2;
  }

  .center-all {
    @apply grid place-items-center [grid-template-areas:"center"];
  }

  .center-all * {
    @apply [grid-area:center];
  }
}

@layer components {
  .kbd {
    @apply -my-1 inline-block select-none rounded-sm border-[0.25px] border-b-2
      border-outline-variant bg-surface-2 px-2 py-1 active:-mb-[3.5px]
      active:translate-y-0.5 active:border-b-[0.25px];
  }

  .link,
  .markdown a {
    @apply font-medium text-primary underline decoration-primary decoration-2
      underline-offset-4 transition-[text-decoration-color]
      hover:decoration-tertiary hover:transition-none
      focus-visible:decoration-tertiary focus-visible:transition-none;
  }

  .markdown {
    @apply prose max-w-none font-body text-base text-on-background
      dark:prose-invert prose-headings:font-display
      prose-h5:text-on-primary-container prose-h6:font-body
      prose-h6:text-on-primary-container prose-li:marker:font-display
      prose-li:marker:text-outline;
  }
}

/* SK Components workarounds */

.skc-chip-field__content > .skc-chip-set {
  flex-wrap: nowrap;
}

.skc-chip-field__content > .skc-chip-set:empty ~ .skc-chip-field__input {
  margin-inline: 0.25rem;
}

.skc-chip-field__content
  > .skc-chip-set:empty
  ~ .skc-chip-field__input::placeholder {
  padding-left: 0;
}

.skc-chip-field__content > .skc-chip-set:empty {
  display: none;
}

.skc-dialog .skc-chip-field__label,
.skc-card--filled .skc-dialog .skc-chip-field__label {
  background-color: var(--surface-3);
}

@media only screen and (min-width: 600px) {
  .skc-root-layout
    > .skc-split-layout
    > .skc-split-layout__content
    > *:first-child,
  .skc-root-layout
    > .skc-split-layout
    > .skc-split-layout__content
    > *:last-child {
    height: calc(100vh - 8.5rem);
  }

  @supports (height: 100dvh) {
    .skc-root-layout
      > .skc-split-layout
      > .skc-split-layout__content
      > *:first-child,
    .skc-root-layout
      > .skc-split-layout
      > .skc-split-layout__content
      > *:last-child {
      height: calc(100dvh - 8.5rem);
    }
  }
}

/* Google One Tap UI */

#credential_picker_container {
  @apply !right-2 !top-2;
}

.dark #credential_picker_container {
  @apply overflow-hidden rounded-md;
}
