@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
  .skc-root-layout
    > *:not(.skc-content-layout, .skc-split-layout, .skc-page-header) {
    display: none;
  }
}

@layer base {
  * {
    @apply outline-offset-4;
  }

  html {
    @apply accent-primary;
  }

  body {
    @apply bg-background font-body text-on-background;
  }

  .light {
    @apply [color-scheme:light];
  }

  .dark {
    @apply [color-scheme:dark];
  }

  @media (prefers-color-scheme: dark) {
    html {
      @apply [color-scheme:dark];
    }
  }

  .light .skc-page-header__blob-primary {
    @apply !fill-primary-95;
  }

  .light .skc-page-header__blob-secondary {
    @apply !fill-secondary-90;
  }

  .dark .skc-page-header__blob-primary {
    @apply !fill-primary-20;
  }

  .dark .skc-page-header__blob-secondary {
    @apply !fill-secondary-20;
  }
}

@layer utilities {
  .tap-highlight-none {
    @apply [-webkit-tap-highlight-color:transparent];
  }

  .fixed-center {
    @apply fixed left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2;
  }

  .center-all {
    @apply grid place-items-center [grid-template-areas:"center"];
  }

  .center-all * {
    @apply [grid-area:center];
  }
}

@layer components {
  .kbd {
    @apply -my-1 inline-block select-none rounded-sm border-[0.25px] border-b-2
      border-outline-variant bg-surface-2 px-2 py-1 active:-mb-[3.5px]
      active:translate-y-0.5 active:border-b-[0.25px];
  }

  .link {
    @apply font-medium text-primary underline decoration-primary decoration-2
      underline-offset-4 transition-[text-decoration-color]
      hover:decoration-tertiary hover:transition-none
      focus-visible:decoration-tertiary focus-visible:transition-none;
  }
}

.skc-icon {
  @apply !font-icon;
}

/* SK Components workarounds */

.skc-page-header__blobs {
  pointer-events: none;
}

.skc-nav-bar {
  backdrop-filter: blur(16px) !important;
}
